!!! 5
html
    head
        title #{title}
        meta(name='description', content='nodeAdmin CMS')
        meta(name='author', content='Iván Gallego Sanchez, ivan1988.gs@gmail.com')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
        link(rel='apple-touch-icon', href='/nodeadmin/images/iOS_icon.png')
        link(rel='apple-touch-startup-image', href='/nodeadmin/images/iOS_startup.png')


        link(rel='stylesheet', href='/nodeadmin/styles/reset.css')
        link(rel='stylesheet', href='/nodeadmin/scripts/redactor/redactor.css')
        link(rel='stylesheet', href='/nodeadmin/scripts/slidernav/slidernav.css')
        link(rel='stylesheet', href='/nodeadmin/scripts/uitotop/css/ui.totop.css')
        link(rel='stylesheet', href='/nodeadmin/scripts/fullcalendar/fullcalendar.css')
        link(rel='stylesheet', href='/nodeadmin/scripts/isotope/isotope.css')
        link(rel='stylesheet', href='/nodeadmin/scripts/fancybox/jquery.fancybox-1.3.4.css')
        link(rel='stylesheet', href='/nodeadmin/scripts/tiptip/tipTip.css')
        link(rel='stylesheet', href='/nodeadmin/scripts/uniform/css/uniform.aristo.css')
        link(rel='stylesheet', href='/nodeadmin/scripts/multiselect/css/ui.multiselect.css')
        link(rel='stylesheet', href='/nodeadmin/scripts/selectbox/jquery.selectBox.css')
        link(rel='stylesheet', href='/nodeadmin/scripts/colorpicker/css/colorpicker.css')
        link(rel='stylesheet', href='/nodeadmin/scripts/uistars/jquery.ui.stars.min.css')
        link(rel='stylesheet', href='/nodeadmin/scripts/themeroller/Aristo.css')
        link(rel='stylesheet', href='/nodeadmin/styles/text.css')
        link(rel='stylesheet', href='/nodeadmin/styles/grid.css')
        link(rel='stylesheet', href='/nodeadmin/styles/main.css')
        link(rel='stylesheet', href='/nodeadmin/styles/theme/theme_base.css')
        link(rel='stylesheet', href='/nodeadmin/styles/theme/theme_blue.css')
        link(rel='stylesheet', href='/nodeadmin/styles/theme/bg_wood.css')
        link(rel='stylesheet', href='/nodeadmin/styles/colours.css')
        link(rel='stylesheet', href='/nodeadmin/styles/ie.css')

    body
        #wrapper
            #sidebar
                a.logo(href='/')
                    span Thatzonce

                .user_box.dark_box.clearfix
                    img(src='/nodeadmin/images/profile.jpg', width='55', height='55', alt='Profile Pic')
                    h2 Bienvenido
                    h3(style='float:left;')
                        a(href='#') #{username}

                    ul
                        li
                            a(href='/logout') Cerrar sesión

                ul.side_accordion
                    li
                        a(href='/')
                            img(src='/nodeadmin/images/icons/small/grey/home.png')
                            | Home

                    li
                        a(href='/categories')
                            img(src='/nodeadmin/images/icons/small/grey/globe.png')
                            | Categorías


                form(style='margin-top:100px;')
                    #search_side.dark_box
                        input(type='text', value='Buscar...', onclick="value=''")

                ul#side_links.side_links(style='margin-bottom:0;')

                    li
                        a(href='#', target='_blank') Frontend
                    li
                        a(href='#', target='_blank') Twitter

            block content




        script(src='/nodeadmin/scripts/jquery/jquery-1.8.2.min.js')
        script(src='/nodeadmin/scripts/jquery/jquery-ui-1.9.1.min.js')
        script(src='/nodeadmin/scripts/touchpunch/jquery.ui.touch-punch.min.js')
        script(src='/nodeadmin/scripts/uitotop/js/jquery.ui.totop.js')
        script(src='/nodeadmin/scripts/uniform/jquery.uniform.min.js')
        script(src='/nodeadmin/scripts/redactor/redactor.min.js')
        script(src='/nodeadmin/scripts/autogrow/jquery.autogrowtextarea.js')
        script(src='/nodeadmin/scripts/jquery/jquery-ui-1.9.1.min.js')
        script(src='/nodeadmin/scripts/multiselect/js/ui.multiselect.js')
        script(src='/nodeadmin/scripts/selectbox/jquery.selectBox.min.js')
        script(src='/nodeadmin/scripts/timepicker/jquery.timepicker.js')
        script(src='/nodeadmin/scripts/colorpicker/js/colorpicker.js')
        script(src='/nodeadmin/scripts/uistars/jquery.ui.stars.min.js')
        script(src='/nodeadmin/scripts/tiptip/jquery.tipTip.minified.js')
        script(src='/nodeadmin/scripts/validation/jquery.validate.min.js')
        script(src='/nodeadmin/scripts/DataTables/jquery.DataTables.js')
        script(src='/nodeadmin/scripts/adminica/adminica_datatables.js')
        script(src='/nodeadmin/scripts/adminica/adminica_ui.js')
        script(src='/nodeadmin/scripts/adminica/adminica_forms.js')
        script(src='/nodeadmin/scripts/adminica/adminica_mobile.js')

        block scripts

        script(src='/nodeadmin/scripts/main.js')

