/*
	960 Grid System ~ Text CSS.
	Learn more ~ http://960.gs/

	Licensed under GPL and MIT.
*/

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
	font: 12px/1.5 sans-serif;
	color:#333;
}


a:focus {
	outline: 0px dashed;
}

hr {
	border: 0 #ccc solid;
	border-top-width: 1px;
	clear: both;
	height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 14px;
}

h4 {
	font-size: 12px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 12px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

li {
	margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address{
	margin-bottom: 10px;
	-webkit-text-size-adjust:none;
}


.block h1,
.block h2,
.block h3,
.block h4,
.block h5,
.block h6
	color:#333;
	margin-top: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
fieldset > label{
	font-family: 'Open Sans', sans-serif;
}

.block h1,
.block h2,
.flat_area h1,
.flat_area h2,
.flat_area h3,
.flat_area h4,
.flat_area h5,
.flat_area h6{
	letter-spacing: -1px !important;
	margin-bottom: 15px;
}


.block h3, .block h4, .block h5, .flat_area h3, .flat_area h4, .flat_area h5{margin-bottom: 10px;}

.block p, .flat_area p{
	color:#666;
	line-height: 20px;
	margin: 0 0 10px;
}



.block p:last-child, .flat_area p:last-child{
	margin-bottom: 0px;
}




.block p strong, .flat_area p strong{
	color:#333;
}


.block ul, .block ol, .flat_area ul, .flat_area ol{
	list-style-position:inside;
	padding: 0;
}

.block ul, .block ol{margin-bottom: 15px}
.flat_area ul, .flat_area ol{margin-bottom: 5px}

.block > ul > li, .block > ol > li,
.block > .section > ul > li, .block > .section > ol > li{
	color: #666;
	line-height: 24px;
	padding:0px 0;
	margin: 0;
	border-bottom: 1px solid #eee;
}
.flat_area ul li, .flat_area ul li {
	color: #666;
	padding:5px 0;
	margin: 0;
	border-bottom: 1px solid #eee;
}


.block ul li:first-child, .block ol li:first-child, .flat_area ul li:first-child, .flat_area ul li:first-child{
padding-top:0;}

.flat_area small{
	font-size:12px;
	color:#666;
	font-weight:normal;
	letter-spacing: 0;
}

.flat_area a{
	font-weight:bold;}


