extends ../template

block content
    #main_container.main_container.container_16.clearfix.ui-sortable
        .flat_area.grid_16
            h2 Nueva Categoría
            p
                | En esta página te mostramos los <strong>campos necesarios para crear una categoría</strong>.
                | Para crearla correctamente deberás rellenar, como mínimo,
                br
                | todos los campos obligatorios
                | que son aquellos marcados con una estrella roja en la parte derecha de su fila.


            button.red.col_10.div_icon.has_text(onclick="javascript:location.href='/categories'; return false; ")
                div.ui-icon.ui-icon-plusthick
                span(style='text-shadow:none;') Volver al listado

        form(method='POST')
            input(type='hidden', name='_csrf', value=token)

            div.box.grid_16
                h2.box_head Campos generales
                a.toggle.toggle_closed(href='#')

                .toggle_container

                    // Campo Activado
                    fieldset.label_side
                        label(for='activated')
                            | ¿Activada?
                            span se verá en la web
                        .clearix.jqui_radios
                            .required_tag
                            label(for='activated_yes') Sí. Quiero que se muestre la categoría en el Front End.
                            input#activated_yes(type='radio', name='activated', value='1', checked='false')

                            label(for='activated_no') No. Quiero que la categoría permanezca oculta.
                            input#activated_no(type='radio', name='activated', value='0', checked='checked')

            for language in languages
                - var id = 'name_' + language.code
                .box.grid_16
                    h2.box_head
                        | Campos en idioma <i>#{language.name}</i>
                    a.toggle.toggle_closed(href='#')

                    .toggle_cointainer(style='display:block;')

                        // Campo Nombre
                        fieldset.label_side
                            label(for='#{id}')
                                   | Nombre
                                   span de la categoría
                            .clearfix
                                .required_tag
                                - var klass = id;
                                - var value = (post.name_es != undefined) ? post.name_es : '';
                                - for error in errors
                                        - klass = 'validation-error';
                                        - msg = error.msg;
                                        label.error(for=#{id}) #{msg}

                                input(type='text', name='name[#{language.code}]', placeholder='Nombre de la categoría en #{language.name}')


            .grid_16
                .clearfix
                    button.green.img_icon.has_text.grid_6(onclick="javascript:this.form.submit();")
                        img(src='/nodeadmin/images/icons/small/white/finish_flag.png', width='24', height='24')
                        span Crear Categoría!

                    button.grey.send_right.img_icon.has_text.grid_6(onclick="javascript:location.href='/categories'; return false;")
                        img(src='/nodeadmin/images/icons/small/white/refresh_4.png', width='24', height='24')
                        span Cancelar y volver al listado