extends ../template

block content
    #main_container.main_container.container_16.clearfix.ui-sortable
        .flat_area.grid_16
            h2 Categorías
            p
                | En esta sección te <strong>mostramos todas las categorías creadas</strong> hasta el momento
                | en una tabla que permite ordenar, filtrar y buscar resultados.
                br
                | La búsqueda funciona en vivo, no hace falta recargar la
                | página. Los resultados se paginan en grupos de 10, 20 o 50 automáticamente.


            button.red.col_10.div_icon.has_text(onclick="javascript:location.href='/categories/create'; return false; ")
                div.ui-icon.ui-icon-plusthick
                span(style='text-shadow:none;') Crear Categoría

        .box.grid_16.single_database
            #dt1.no_margin
                table.display.datatable
                    thead
                        tr
                            th(width='80') #
                            th Nombre
                            th(width='150') ¿Activada?
                            th(width='180') Opciones
                    tbody
                        for category in result
                            tr
                                td(width='80', align='center') #{parseInt(Date.parse(category.created) / 10000)}

                                td
                                    if (category.name.es == '')
                                        | Sin Nombre!
                                    else
                                        | #{category.name.es} &nbsp;&nbsp;-&nbsp;&nbsp;<i>#{category.name.en}</i>

                                td(width='150', align='center')
                                    if (category.activated == 1)
                                        | Activada
                                    else
                                        | Desactivada
                                td(width='180', align='center')
                                    a(href='/categories/#{category.identifier}/edit') Editar
                                    &nbsp;&nbsp;|&nbsp;&nbsp;
                                    a(href='/categories/#{category.identifier}/delete') Eliminar